.single-album {
    height: 71vh;
    overflow: scroll;
}
.album-header {
    min-height: 25vh;
    padding: 1rem;
    background-color: #E5E9F0;
    color: #4C566A;
}
.album-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
}
.album-info > h1 {
    font-size: 3rem;
    font-weight: 600;
}
.none-link {
    text-decoration: none;
    color: inherit;
}
.none-link:hover {
    text-decoration: none;
    color: inherit;
}
