body{
    background-color: #3B4252;
}
.bg-image {
    height: 100vh;
    width: 39vw;
}
.l-selector {
    display: block;
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
}
.btn-color {
    background-color: #E5E9F0;
    text-decoration: none;
}
.btn-color:hover {
    background-color: #D8DEE9;
    text-decoration: none;
}
.link {
    text-decoration: none;
    color: #3B4252;
}
.main-div {
    text-align: center;
    vertical-align: middle;
    margin-top: 6rem;
}