.home {
    height: 80vh;
    overflow: scroll;
}
.title-home {
    margin-left: 3rem;
    margin-top: 1rem;
}
.discover-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.discover-item {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}
.discover-item > img {
    width: 220px;
    height: 220px;
    transition: 0.3s all ease;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.363);
}
.discover-item > h2 {
    position: absolute;
    top: 75%;
    text-align: center;
}
.discover-item > img:hover {
    filter: invert(10%)
}
.none-link {
    text-decoration: none;
    color: inherit;
}
.none-link:hover {
    text-decoration: none;
    color: inherit;
}
