.single-artist {
    height: 71vh;
    overflow: scroll;
}
.artist-header {
    height: 25vh;
    padding: 1rem;
    background-color: #E5E9F0;
    color: #4C566A;
}
.artist-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
}
.artist-info > h1 {
    font-size: 3rem;
    font-weight: 600;
}
.card-img-top {
    content: fit;
}
.card {
    background-color: #4C566A;
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.card-text {
    overflow: hidden;
}
