nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    position: relative;
    grid-template-areas: '1 middle right';
    min-height: 4rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.logo {
    height: 2.5rem;
    width: 2.5rem;
}
.middle-nav {
    position: relative;
    margin: 0 auto;
    padding-top: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    grid-area: middle;
    width: 100%;
}
.link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.link:hover {
    text-decoration: none;
    color: inherit;
}
.settings {
    background-color: inherit;
    grid-area: right;
    display: inline-flex;
    margin-left: auto;
}