.artist-list {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}
.artist-result {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.artist-result:hover {
    text-decoration: underline;
}
.artist-result > img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.artist-result > p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    cursor: pointer;
}