.player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-template-areas: '1 middle right';
    min-height: 4rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: aquamarine;
}
.control {
    position: relative;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    grid-area: middle;
    width: 100%;
}
.settings {
    background-color: inherit;
    grid-area: right;
    display: inline-flex;
    margin-left: auto;
}