.single-playlist {
    height: 71vh;
    overflow: scroll;
}
.playlist-header {
    padding: 1rem;
    background-color: #E5E9F0;
    color: #4C566A;
}
.playlist-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.playlist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
}
.playlist-info > h1 {
    font-size: 3rem;
    font-weight: 600;
}
